@{
    Layout = null;
}
<div class="kt-portlet kt-portlet--mobile pea-page">
    <div class="kt-portlet mt-3">
        <div class="kt-portlet__head">
            <div class="kt-portlet__head-label">
                <span class="kt-portlet__head-icon">
                    <i class="flaticon2-graph"></i>
                </span>
                <h3 class="kt-portlet__head-title">
                    View Claim
                </h3>
            </div>
        </div>
        <div class="kt-portlet__body">
            <div class="row">
                <div class="col-md-9 col-lg-9">
                    <div class="row kt-margin-b-20">
                        <div class="col-md-3">
                            <b>Claim Id</b>
                        </div>
                        <div class="col-md-3">
                        </div>
                        <div class="col-md-3">
                        </div>
                        <div class="col-md-3">
                        </div>
                        <div class="col-md-3">
                        </div>
                        <div class="col-md-3">
                        </div>
                        <div class="col-md-3">
                        </div>
                        <div class="col-md-3">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
