@using TPA.Common.Core.Resources

 <!-- Modal -->
<div class="modal fade" id="progressModel" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">@Common.Processing</h5>
            </div>
            <div class="modal-body" style="text-align: center;">
                <img src="~/Images/loader2.gif" style="width: 250px;" />
            </div>
        </div>
    </div>
</div>
